body {
    background-image: url(../images/floresta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-size: 16px
}

.container {
    height: 500px;
    width: 1080px;
    color: #66fafa;
    text-align: center;
}

#nome {
    width: auto;
    height: 25px;
}
#xp {
    width: auto;
    height: 25px;
}
.button {
    height: 40px;
    width: 100px;
    margin: 0;
    background-color: transparent;
}

#resultado {
    margin-top: 20px;
    color: #66fafa;
    font-size: 20px;
    text-align: center;
}